# Auto detect text files and perform LF normalization
* text=auto

# GitHub Linguist Language Declarations
*.java linguist-language=Java
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.sql linguist-language=PLpgSQL
